(
    nodes: [
        DeadEnd(
            id: 0,
            pos: (-1635.0, -16.25003),
            tangent: (-0.9999036, -0.013887547),
            track: 0,
        ),
        Continuation(
            id: 1,
            pos: (-249.0, 3.0000076),
            normal: (-0.013887569, 0.99990344),
            tracks: (13, 14),
        ),
        Continuation(
            id: 2,
            pos: (-1536.0, -14.875028),
            normal: (-0.013887569, 0.99990356),
            tracks: (0, 1),
        ),
        Continuation(
            id: 3,
            pos: (-1437.0, -13.500025),
            normal: (-0.013887569, 0.99990356),
            tracks: (1, 2),
        ),
        Continuation(
            id: 4,
            pos: (-1338.0, -12.125023),
            normal: (-0.013887569, 0.99990356),
            tracks: (2, 3),
        ),
        Continuation(
            id: 5,
            pos: (-1239.0, -10.75002),
            normal: (-0.013887598, 0.99990356),
            tracks: (3, 4),
        ),
        Continuation(
            id: 6,
            pos: (-1140.0, -9.375017),
            normal: (-0.013887569, 0.99990356),
            tracks: (4, 5),
        ),
        Continuation(
            id: 7,
            pos: (-1041.0, -8.000015),
            normal: (-0.013887569, 0.99990356),
            tracks: (5, 6),
        ),
        Continuation(
            id: 8,
            pos: (-942.0, -6.6250114),
            normal: (-0.013887598, 0.99990356),
            tracks: (6, 7),
        ),
        Continuation(
            id: 9,
            pos: (-843.00006, -5.2500095),
            normal: (-0.013887594, 0.99990356),
            tracks: (7, 8),
        ),
        Continuation(
            id: 10,
            pos: (-744.00006, -3.8750067),
            normal: (-0.013887569, 0.99990356),
            tracks: (8, 9),
        ),
        Continuation(
            id: 11,
            pos: (-645.0, -2.5000038),
            normal: (-0.013887577, 0.99990356),
            tracks: (9, 10),
        ),
        Continuation(
            id: 12,
            pos: (-546.0, -1.1250019),
            normal: (-0.013887569, 0.99990356),
            tracks: (10, 11),
        ),
        Continuation(
            id: 13,
            pos: (-447.00012, 0.25),
            normal: (-0.013887594, 0.99990356),
            tracks: (11, 12),
        ),
        Continuation(
            id: 14,
            pos: (-348.00012, 1.6250038),
            normal: (-0.013887587, 0.99990356),
            tracks: (12, 13),
        ),
        Continuation(
            id: 15,
            pos: (-254.34282, 387.68265),
            normal: (0.01388788, -0.9999036),
            tracks: (20, 21),
        ),
        Continuation(
            id: 16,
            pos: (-165.81078, 23.206863),
            normal: (-0.4463542, 0.8948564),
            tracks: (14, 15),
        ),
        Continuation(
            id: 17,
            pos: (-99.627304, 77.507065),
            normal: (-0.79041475, 0.61257195),
            tracks: (15, 16),
        ),
        Continuation(
            id: 18,
            pos: (-63.55803, 155.1458),
            normal: (-0.97792417, 0.20896001),
            tracks: (16, 17),
        ),
        Continuation(
            id: 19,
            pos: (-64.74692, 240.74574),
            normal: (-0.9717436, -0.23603882),
            tracks: (17, 18),
        ),
        Continuation(
            id: 20,
            pos: (-102.958496, 317.35278),
            normal: (-0.7730973, -0.6342876),
            tracks: (18, 19),
        ),
        Continuation(
            id: 21,
            pos: (-170.62448, 369.79398),
            normal: (-0.42132932, -0.9069076),
            tracks: (19, 20),
        ),
        Continuation(
            id: 22,
            pos: (-752.99994, 577.0),
            normal: (-0.6739774, -0.73875195),
            tracks: (26, 35),
        ),
        Continuation(
            id: 23,
            pos: (-345.21005, 392.12964),
            normal: (-0.11145689, -0.99376935),
            tracks: (21, 22),
        ),
        Continuation(
            id: 24,
            pos: (-434.80475, 407.9226),
            normal: (-0.23504744, -0.9719839),
            tracks: (22, 23),
        ),
        Continuation(
            id: 25,
            pos: (-521.71594, 434.81268),
            normal: (-0.35493535, -0.93489087),
            tracks: (23, 24),
        ),
        Continuation(
            id: 26,
            pos: (-604.5747, 472.37646),
            normal: (-0.46923345, -0.8830742),
            tracks: (24, 25),
        ),
        Continuation(
            id: 27,
            pos: (-682.0763, 520.02246),
            normal: (-0.5761417, -0.8173498),
            tracks: (25, 26),
        ),
        DeadEnd(
            id: 28,
            pos: (-1573.75, 389.75),
            tangent: (-0.97494876, -0.22242951),
            track: 27,
        ),
        Continuation(
            id: 29,
            pos: (-1457.5431, 426.7697),
            normal: (-0.3775346, 0.9259954),
            tracks: (27, 28),
        ),
        Continuation(
            id: 30,
            pos: (-1353.4675, 476.7832),
            normal: (-0.47992617, 0.8773088),
            tracks: (28, 29),
        ),
        Continuation(
            id: 31,
            pos: (-1259.0039, 532.4843),
            normal: (-0.5269507, 0.8498958),
            tracks: (29, 30),
        ),
        Continuation(
            id: 32,
            pos: (-1171.6335, 586.56744),
            normal: (-0.5147946, 0.8573136),
            tracks: (30, 31),
        ),
        Continuation(
            id: 33,
            pos: (-1088.8365, 631.7262),
            normal: (-0.42560694, 0.9049081),
            tracks: (31, 32),
        ),
        Continuation(
            id: 34,
            pos: (-1008.094, 660.6548),
            normal: (-0.22243042, 0.97494864),
            tracks: (32, 33),
        ),
        Continuation(
            id: 35,
            pos: (-926.88666, 666.04736),
            normal: (0.10647539, 0.9943154),
            tracks: (33, 34),
        ),
        Continuation(
            id: 36,
            pos: (-842.69495, 640.5977),
            normal: (0.44757998, 0.894244),
            tracks: (34, 36),
        ),
        Continuation(
            id: 37,
            pos: (-794.96234, 612.9996),
            normal: (-0.5881696, -0.8087377),
            tracks: (35, 36),
        ),
    ],
    segments: [
        (
            id: 0,
            p1: (-1601.9999, -15.791696),
            p2: (-1569.0, -15.333362),
            start_node: 0,
            end_node: 2,
        ),
        (
            id: 1,
            p1: (-1503.0, -14.416693),
            p2: (-1470.0, -13.958359),
            start_node: 2,
            end_node: 3,
        ),
        (
            id: 2,
            p1: (-1404.0, -13.041691),
            p2: (-1371.0, -12.583357),
            start_node: 3,
            end_node: 4,
        ),
        (
            id: 3,
            p1: (-1305.0, -11.666689),
            p2: (-1272.0, -11.208355),
            start_node: 4,
            end_node: 5,
        ),
        (
            id: 4,
            p1: (-1206.0, -10.291685),
            p2: (-1173.0, -9.833351),
            start_node: 5,
            end_node: 6,
        ),
        (
            id: 5,
            p1: (-1107.0, -8.916683),
            p2: (-1074.0, -8.458349),
            start_node: 6,
            end_node: 7,
        ),
        (
            id: 6,
            p1: (-1007.99994, -7.5416803),
            p2: (-975.0, -7.0833464),
            start_node: 7,
            end_node: 8,
        ),
        (
            id: 7,
            p1: (-909.0, -6.1666775),
            p2: (-876.0, -5.7083435),
            start_node: 8,
            end_node: 9,
        ),
        (
            id: 8,
            p1: (-810.0, -4.791675),
            p2: (-777.00006, -4.3333406),
            start_node: 9,
            end_node: 10,
        ),
        (
            id: 9,
            p1: (-711.0, -3.4166722),
            p2: (-678.0, -2.958338),
            start_node: 10,
            end_node: 11,
        ),
        (
            id: 10,
            p1: (-612.0, -2.0416698),
            p2: (-579.0, -1.5833359),
            start_node: 11,
            end_node: 12,
        ),
        (
            id: 11,
            p1: (-513.0, -0.66666794),
            p2: (-480.00006, -0.20833395),
            start_node: 12,
            end_node: 13,
        ),
        (
            id: 12,
            p1: (-414.00012, 0.70833457),
            p2: (-381.00012, 1.1666692),
            start_node: 13,
            end_node: 14,
        ),
        (
            id: 13,
            p1: (-315.00006, 2.0833383),
            p2: (-282.00003, 2.5416732),
            start_node: 14,
            end_node: 1,
        ),
        (
            id: 14,
            p1: (-220.10445, 3.4013371),
            p2: (-191.67064, 10.307968),
            start_node: 1,
            end_node: 16,
        ),
        (
            id: 15,
            p1: (-139.95091, 36.10576),
            p2: (-117.32962, 54.665386),
            start_node: 16,
            end_node: 17,
        ),
        (
            id: 16,
            p1: (-81.92499, 100.34874),
            p2: (-69.59663, 126.885414),
            start_node: 17,
            end_node: 18,
        ),
        (
            id: 17,
            p1: (-57.51943, 183.40619),
            p2: (-57.92579, 212.66397),
            start_node: 18,
            end_node: 19,
        ),
        (
            id: 18,
            p1: (-71.56805, 268.8275),
            p2: (-84.62865, 295.01157),
            start_node: 19,
            end_node: 20,
        ),
        (
            id: 19,
            p1: (-121.288345, 339.694),
            p2: (-144.41635, 357.61826),
            start_node: 20,
            end_node: 21,
        ),
        (
            id: 20,
            p1: (-196.83261, 381.9697),
            p2: (-225.44727, 388.08398),
            start_node: 21,
            end_node: 15,
        ),
        (
            id: 21,
            p1: (-284.69513, 387.26108),
            p2: (-315.04395, 388.74634),
            start_node: 15,
            end_node: 23,
        ),
        (
            id: 22,
            p1: (-375.37616, 395.51294),
            p2: (-405.29996, 400.7877),
            start_node: 23,
            end_node: 24,
        ),
        (
            id: 23,
            p1: (-464.30954, 415.05753),
            p2: (-493.33713, 424.03854),
            start_node: 24,
            end_node: 25,
        ),
        (
            id: 24,
            p1: (-550.0948, 445.58682),
            p2: (-577.7688, 458.13278),
            start_node: 25,
            end_node: 26,
        ),
        (
            id: 25,
            p1: (-631.3806, 486.62015),
            p2: (-657.26544, 502.53354),
            start_node: 26,
            end_node: 27,
        ),
        (
            id: 26,
            p1: (-706.88715, 537.5114),
            p2: (-730.57495, 556.54126),
            start_node: 27,
            end_node: 22,
        ),
        (
            id: 27,
            p1: (-1532.7125, 399.1125),
            p2: (-1494.117, 411.8583),
            start_node: 28,
            end_node: 29,
        ),
        (
            id: 28,
            p1: (-1420.9692, 441.68112),
            p2: (-1386.4174, 458.7582),
            start_node: 29,
            end_node: 30,
        ),
        (
            id: 29,
            p1: (-1320.5177, 494.8082),
            p2: (-1289.1696, 513.78107),
            start_node: 30,
            end_node: 31,
        ),
        (
            id: 30,
            p1: (-1228.8383, 551.18756),
            p2: (-1199.8549, 569.6213),
            start_node: 31,
            end_node: 32,
        ),
        (
            id: 31,
            p1: (-1143.4122, 603.5136),
            p2: (-1115.9531, 618.9724),
            start_node: 32,
            end_node: 33,
        ),
        (
            id: 32,
            p1: (-1061.72, 644.48),
            p2: (-1034.9457, 654.5287),
            start_node: 33,
            end_node: 34,
        ),
        (
            id: 33,
            p1: (-981.2423, 666.7809),
            p2: (-954.31323, 668.9843),
            start_node: 34,
            end_node: 35,
        ),
        (
            id: 34,
            p1: (-899.4601, 663.1104),
            p2: (-871.53613, 655.0331),
            start_node: 35,
            end_node: 36,
        ),
        (
            id: 35,
            p1: (-771.27637, 593.67395),
            p2: (-782.63855, 604.03687),
            start_node: 22,
            end_node: 37,
        ),
        (
            id: 36,
            p1: (-807.28613, 621.9623),
            p2: (-820.57166, 629.5248),
            start_node: 37,
            end_node: 36,
        ),
    ],
)